body {
    text-wrap: balance;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
}

h1 {
    font-family: 'Mistral';
    font-size: 50px;
}

div {
    font-size: 15px;
}

.pad {
    padding: 30px 50px;
    max-width: 1440px;
    margin: auto;
}

.comp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
}
/* .game div:nth-child(6) img{
    transform: scale(.5);
} */
.comp img {
    transform: scale(.5);
}

@media screen and (max-width: 800px) {

    .comp,
    .game {
        grid-template-columns: 1fr;
    }
}